@charset "utf-8";
/* CSS Document */

			/*logo*/

.logo{
	width:1090px;
	height:95px;
	margin:0 auto;
}
.logo a{
	display: block;
	margin-top:22px;
	height:45px;
	width:181px;
	float:left;
	text-indent:-2000px;
	background:url(../images/sasalogo.png) no-repeat;
}
#main_wrap .main{
	min-height:492px;
	height:auto !important;
	height:492px;
	margin:40px auto 0;
	width:1090px;
	background:url(../images/login_bg.jpg) no-repeat left 116px;
}
#login_foot .footer{
	width:1090px;
	height:46px;
	margin:20px auto 0;

}
.footer .left{
	float:left;
}
.footer .right{
	float:right;
}
.footer p{
	font-size:14px;
	color:#C2BCB5;
}
#main_wrap .login_box{
	width:350px;
	background:#fff;
	padding:35px;
	float:right;
	margin:40px 68px 0 0;
	box-shadow: -1px 3px 15px 2px #e1e1e1;
	position: relative;
}

/*密码框*/
#main_wrap .title {
	width:350px;
	height:40px;
	
}
#main_wrap .title h2{
	float:left;
	font-size:24px;
	line-height:24px;
	color:#5A5D6C;
	font-weight:100;
}
#main_wrap .title span{
	display: block;
	float:right;
	font-size:12px;
	color:#5a5d6c;
	line-height:24px;
}
#main_wrap .title span a{
	color:#ec3e7d;
}
#main_wrap .form_act{
	width:130px;
}

/*表单中input的边框设置*/

form input{
	width:348px;
	height:34px;
	background:none;
	border:1px solid #ccc;
	padding-left:5px;
	margin-top:25px;
}

form .checkbox{
	width:14px;
	height:14px;
	margin:16px 5px 0;
}
form .submit{
	background:#EC3E7D;
	font-size:16px;
	color:#fff;
	cursor:pointer;
}
form label span{
	position: absolute;
	top:16px;

}
form label{
	height:34px;
	display:block;
	position:relative;
	margin-top:25px;
}
form .form_act{
	position: relative;
}
#position_form  .po_form_act{
	position: absolute;
	left:180px;
	top:283px;;
	line-height:36px;
}
#position_form  .po_form_act #code{
	width: 80px;
    height: 34px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 15px;
    float: left;
    background: #fff;
    border-radius: 0;
    color: #000;
    text-align: center;
    line-height: 34px;
}
#position_form  .po_form_act a{
	float: left;	
}
form .checkbox{
	position: relative;
}
#position_form p{
	background:#db3f7e;
	width:14px;
	height:14px;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:14px;
	border-radius:50%;
	display:inline-block;
	margin-right:5px;
}
#position_form span{
	font-size:12px;
}
#position_form .po_checkbox{
	position: absolute;
	left: 100px;
    top: 360px;
}
#position_form #po_phone_num{
	position: absolute;
	left: 36px;
    top: 140px;
    display:none;
}
#position_form #po_password{
	position: absolute;
	left: 36px;
    top: 202px;
    display:none;
}
#position_form #po_again_p{
	position: absolute;
	left: 36px;
    top: 262px;
    display:none;
}

#position_form #form_act{
	position: absolute;
	left: 36px;
    top: 324px;
    display:none;
}

/*鼠标滑过input 的边框变色*/
form .mOver:hover{
	box-shadow: 0px 0px 9px -1px #F9A0B4;
    border: 1px solid #F9A0B4;
}


