@charset "utf-8";
/* CSS Document */

		/*1*/
		/*首页top_main*/

#top_main_wrap{
	min-height:95px;
	height:95px;
	height:auto !important;
}
.top_main{
	height:95px;
	margin:0 auto;
	width:1090px;
}
.sasa_logo{
	float:left;
	overflow:hidden;
	text-indent:-2000px;
}
.sasa_logo h1 a{
	width:181px;
	height:45px;
	background:url(../images/sasalogo.png) no-repeat;
	margin-top:23px;
	display: block;
}

.top_search{
	width:436px;
	height:74px;
	float:left;
	margin-left:219px;
	margin-top:21px;
	position:relative;
	
}
.top_search .search_wrap{
	width:436px;
	height:36px;
	
}
/*搜索框外形*/
.top_search .search{
	width:335px;
	height:30px;
	border:3px solid #EC3E7D;
	float:left;
	padding-left:5px;
}
.top_search .btn_search_top{
	height:36px;
	float:left;
	width:90px;
	color:#fff;
	text-align:center;
	line-height:36px;
	border:none;
	background:#EC3E7D;
	cursor:pointer;
}
/*搜索框下面列表*/
.top_search .aList a{
	padding: 0 10px;
    border-left: 1px solid #A2A3AD;
    margin-top: 4px;
    display: inline-block;
    color:#A2A3A5;
}
.top_search .aList a:hover{
	color:#EC3E7D;
}
/*购物车*/
.top_buycar{
	float: right;
    width: 130px;
    height: 32px;
    border: 1px solid #EEEEEE;
    margin-top: 22px;
    position:relative;
    
}
.top_buycar .car{
	width:32px;
	float:left;
	text-align:center;
	line-height:32px;
}
.top_buycar .link_buyCar{
	width:98px;
	text-align:center;
	line-height:32px;
	background:#F5F5F5;
	float:left;
}

/*购物车定位文字信息*/

#buyCar_po{
	width:300px;
	height:70px;
	background:#fff;
	box-shadow:0px 2px 9px -3px #666;
	position:absolute;
	top:30px;
	left:-175px;
	z-index:1;
	text-align:center;
	line-height:70px;
	color:#3e3e3e;
	cursor:pointer;
	display:none;
}
#buyCar_po p{
	text-align: center;
    line-height: 24px;
    margin-top: 10px;
}

